beautifulsoup4==4.12.3
bs4==0.0.2
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.3.2
dbr==9.6.40.2
google-api-core==2.19.2
google-auth==2.34.0
google-cloud-vision==3.7.4
googleapis-common-protos==1.65.0
grpcio==1.66.1
grpcio-status==1.66.1
idna==3.10
joblib==1.4.2
numpy==1.26.4
opencv-python==4.10.0.84
pandas==2.2.3
pillow==10.4.0
proto-plus==1.24.0
protobuf==5.28.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
python-dateutil==2.9.0.post0
pytz==2024.2
pywin32==306
pyzxing==1.0.2
requests==2.32.3
rsa==4.9
six==1.16.0
soupsieve==2.6
tzdata==2024.1
urllib3==2.2.3
zxing==1.0.3
zxing-cpp==2.2.0
